.navbar{
    background-image: linear-gradient(#1B3E5C, #3C75A6);
}
#vitlogo{
    max-width: 180px;
    max-height: 75px;
}
.navbar-nav.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); 
} 
.sea{
    border:1px solid white !important;
    color: white !important;
}
.sea :hover{
  border:2px solid white !important;
  color: white !important;
  font-weight: bolder !important;
}
#AVIT{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.profile_pic{
    height: 7px;
    width: 7px;
    position: relative;
    left:-55px;
}
.header > div{
  display: inline-block;
}
.playerOne{
  float:right;
}
.dropdown {
    float: left;
  }
  .form-control{
    border: 1px solid #2E6DA4 !important;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .save_changes{
  color: white;
  background-color: #2E6DA4 ;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  align-items: center;
  }
  .YES{
    color: white;
    background-color: red ;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    align-items: center;
    }
  .NO{
    color: white;
    background-color: green ;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    align-items: center;
    }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: large;
    color: linear-gradient(#1B3E5C, #3C75A6) ;
  }
  
  .dropdown-content a {
    font-size: x-large;
    float: none;
    color: #2E6DA4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a.active {
    background-color: #2E6DA4;
    font-size: x-large;
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #2E6DA4;
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .left-box{
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    border-left: 37px solid #337AB7;
    float: left;
    text-align: center;
  }
  .right{
    margin-top: 100px;
    border-right: 47px solid #337AB7;
    height:400px;
  }
  #sticky-footer {
    flex-shrink: none;
       background-image: linear-gradient(#3C75A6, #1B3E5C);
  }
.skill{
  padding: 7px 7px;
  border-radius: 8px;
  background-color: #4D91CC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
}